*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
audio{
    display: none;
}
#um{
    position: absolute;
    top: 0;
    left: 0;
}
#dois{
    position: absolute;
    top: 0;
    right: 0;
}
#tres{
    position: absolute;
    bottom: 0;
    left: 0;
}
#quatro{
    position: absolute;
    bottom: 0;
    right: 0;
}
h1{
    color: white;
    text-shadow: 1px 1px purple;
    font-size: 4rem;
    text-align: center;
    position: relative;
    top: 250px;
}
div{
    display: flex;
    justify-content: center;
    max-width: 200px;
    margin: 0 auto;
}
